In [28]:
import pandas as pd
import numpy as np

### Position Capture

In [23]:
df = pd.read_csv('tradesUSD.csv')
df_agg_by_val = df.groupby(['Ticker']).sum().sort_values(by=['TradeValueUSD'])

In [24]:
df_agg_by_val.iloc[:10] # top 10 sell, sum of TradeValueUSD

                 TradeValueUSD  PriceUSD
Ticker
VRTU US Equity      -315476.30     9.695
EXC US Equity       -283770.29     3.501
IVN CN Equity       -244522.20     6.712
RECN US Equity      -224420.00     6.742
BCP PL Equity       -193533.14     2.820
RTRKS FH Equity     -186556.32    14.927
JEF US Equity       -165291.41     8.970
ALPHA GA Equity     -151920.84     0.778
TNC US Equity       -148330.00     8.106
AREX US Equity      -145181.46     0.096

In [25]:
df_agg_by_val.iloc[-10:] # top 10 buy, sum of TradeValueUSD

                  TradeValueUSD  PriceUSD
Ticker
ATL IM Equity          95154.34     5.417
PPL CN Equity         105878.32     9.405
SGMS US Equity        194429.72     7.385
SYST VX Equity        202354.77    12.805
AF FP Equity          203295.81     9.902
PNDORA DC Equity      204597.33    15.506
PFC LN Equity         287905.53     9.263
HUSQB SS Equity       294513.75    10.963
AON US Equity         294513.75     5.551
AZN LN Equity         294513.75     1.365

### Best execution - Volume Weighted Average Price